mixin contact
    .contact
        .container-fluid
            h2 contact
            .row.no-gutters
                .col-3
                .offset-2.col-8
                    .contact__plate
                        .row
                            .col-4
                                .contact__content
                                    .contact__icon-bg
                                        .contact__icon.material-icons-phone
                                    a.contact__link(href="tel:+38 063 952 5084") Phone: +38 063 952 5084 
                            .col-4
                                .contact__content
                                    .contact__icon-bg
                                        .contact__icon.material-icons-mail
                                    a.contact__link(href="mailto:yulia.godyk@gmail.com") Email: yulia.godyk@gmail.com 
                            .col-4
                                .contact__content
                                    .contact__icon-bg
                                        .contact__icon.material-icons-navigation
                                    p.contact__link Based in Mykolaiv, Ukraine 
        .home__icon
                .home__icon--hover
                    .material-icons-home
                