.works {
    padding-bottom: 120px;
    padding-top: 100px;
    position: absolute;
    z-index: 4;
    left: 0;
    top: -150%;
    background-color: white;
    width: 100%;
    color: #4E4C48;
    font-family: 'Public Sans', sans-serif;
    min-height: 100vh;

    & h2 {
        font-weight: 900;
        font-size: 40px;
        letter-spacing: 2px;
        line-height: 47px;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 80px;
    }



    &__slide {
        padding: 0 15px;

    }

    &__icon {
        font-size: 40px;
        color: #dca98ebd;
        font-weight: 300;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: white;
        border: 1px solid #dca98ebd;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: ease .8s;

        &:hover {
            color: white;
            background-color: #dca98ebd;
        }

        &--left {
            top: 40%;
            position: absolute;
            z-index: 2;
            left: -7%;
        }

        &--right {
            top: 40%;
            position: absolute;
            z-index: 2;
            right: -7%;
        }
    }

    &__img {
        position: relative;
        overflow: hidden;

        &:hover:before {
            background: linear-gradient((to bottom, #a97d67bd, #b2846dd0, #bc8b73bd, #c59379bd, #cf9a7fbd, #d6a186bd, #dca98ebd, #e3b095bd, #e9b9a0bd, #eec2abbd, #f4cbb6bd, #f9d4c1bd));
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        &:hover .works__link {
            bottom: 40%;
            left: 40%;
            position: absolute;
            font-size: 40px;
            color: #dca98ebd;
            font-weight: 300;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: white;
            border: 1px solid #dca98ebd;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: ease .8s;

            &:hover {
                color: white;
                background-color: #dca98ebd;
                border: 1px solid white;
            }
        }

    }

    & img {
        max-width: 100%;
    }

    &__link {

        color: transparent;
        background-color: transparent;
        border: 1px solid transparent;
    }



    &__plate a {}
}