mixin works
    .works
        h2 portfolio
        .container
            .works__slider
                .works__slide
                    .works__img
                        img(src="./img/img1.png", alt="", srcset="")
                        a(target="_blank" href="https://yuliaivannikova.github.io/professionals/dist/index.html")
                            .material-icons-launch.works__link 
                .works__slide
                    .works__img
                        img(src="./img/img2.png", alt="", srcset="")
                        a(target="_blank" href="https://yuliaivannikova.github.io/Bhromaon/dist/index.html")
                            .material-icons-launch.works__link 
                .works__slide
                    .works__img
                        img(src="./img/img3.png", alt="", srcset="")
                        a(target="_blank" href="https://yuliaivannikova.github.io/Monticello/dist/index.html")
                            .material-icons-launch.works__link 
                .works__slide
                    .works__img
                        img(src="./img/img4.png", alt="", srcset="")
                        a(target="_blank" href="https://yuliaivannikova.github.io/lpunity-js/")
                            .material-icons-launch.works__link 
                .works__slide
                    .works__img
                        img(src="./img/img5.png", alt="", srcset="")
                        a(target="_blank" href="https://yuliaivannikova.github.io/hw19/")
                            .material-icons-launch.works__link 
        .home__icon
                .home__icon--hover
                    .material-icons-home