mixin resume
    .resume
        .container-fluid
            h2 resume
            .skills
                +skills
        +history
        .home__icon
            .home__icon--hover
                .material-icons-home
            