.resume {
    padding-bottom: 120px;
    padding-top: 100px;
    position: absolute;
    z-index: 4;
    left: 0;
    top: -150%;
    background-color: white;
    width: 100%;
    color: #4E4C48;
    font-family: 'Public Sans', sans-serif;
    min-height: 100vh;



    & h2 {
        font-weight: 900;
        font-size: 40px;
        letter-spacing: 2px;
        line-height: 47px;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 80px;
    }

}