mixin history
    .container-fluid.history
        .row
            .col-12.col-sm-4
                .history__wrapper
                    .history__desc
                        .history__icon-bg
                            .history__icon.material-icons-account_balance
                        h3.history__title higher education                  
                    .history__plate 
                        .history__text 
                            p Admiral Makarov University of Shipbuilding
                        .history__specialty
                            p Master of Laws
                        .history__time
                            p 2019/09 - present 
            .col-12.col-sm-4
                .history__wrapper
                    .history__desc
                        .history__icon-bg
                            .history__icon.material-icons-devices
                        h3.history__title Programming Training                  
                    .history__plate 
                        .history__text 
                            p Beetroot Academy - Mykolaiv
                        .history__specialty
                            p Front-End Developer
                        .history__time
                            p 2019/09 - present 
            .col-12.col-sm-4
                .history__wrapper
                    .history__desc
                        .history__icon-bg
                            .history__icon.material-icons-work
                        h3.history__title Experience                   
                    .history__plate 
                        .history__text 
                            p Mykolaiv Regional State Administration
                        .history__specialty
                            p Administrative Decentralization Specialist
                        .history__time
                            p 2019/06 - 2019/11 