mixin nav
    .nav
        .nav__section.d-none.d-sm-block   
                            ul.nav__list
                                li.nav__item
                                    a.nav__link(class="resume__on") resume
                                li.nav__item
                                    a.nav__link(class="portfolio__on") portfolio
                                li.nav__item
                                    a.nav__link(class="contact__on") contact