mixin nav
    .nav
        .nav__section.d-none.d-md-block   
                            ul.nav__list
                                li.nav__item
                                    a.nav__link( id="resume") resume
                                li.nav__item
                                    a.nav__link( id="portfolio") portfolio
                                li.nav__item
                                    a.nav__link( id="contact") contact
                                