mixin header
    .header
        .container-fluid
            .row.no-gutters
                .col-3
                    .header__nav
                        +nav
                .col-4
                    .header__text
                        h1 Hello! <br> I am Yulia Ivannikova
                        p a 24 yrs old fashion designer based in LA. I can design beautiful type faces and user interfaces for both digital and print media and love coffee.
                        .header__link
                            a.header__down DOWNLOAD CV
                .col-4
                    .header__img
                        img.header__foto(src="./img/foto.png", alt="", srcset="")
                .col-1
