mixin skills
    .row
        .col-4
            .skills__wrapper
                h3.skills__title design skills  
                .skills__plate
                    h4 Photoshop 
                    .skills__form.skills__form--photo
                        .skills__value.skills__value--photo
                .skills__plate
                    h4 CorelDRAW
                    .skills__form.skills__form--corel
                        .skills__value.skills__value--corel
        .col-4
            .skills__wrapper
                h3.skills__title coding skills
                .skills__plate
                    h4 HTML &amp; CSS 
                    .skills__form.skills__form--html
                        .skills__value.skills__value--html
                .skills__plate
                    h4 Sass &amp; Pug
                    .skills__form.skills__form--sass
                        .skills__value.skills__value--sass
                .skills__plate
                    h4 JavaScript Programming 
                    .skills__form.skills__form--java
                        .skills__value.skills__value--java
        .col-4
            .skills__wrapper
                h3.skills__title language skills
                .skills__plate
                    h4 English 
                    .skills__form.skills__form--en
                        .skills__value.skills__value--en
                .skills__plate
                    h4 Polish
                    .skills__form.skills__form--pl
                        .skills__value.skills__value--pl