include ./blocks/header/_header.pug
include ./blocks/nav/_nav.pug
include ./blocks/resume/_resume.pug
include ./blocks/skills/_skills.pug
include ./blocks/history/_history.pug







<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Ivannikova__CV
        link(rel="stylesheet", href="./css/style.css")
    body
        +header
        +resume
        
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        //- script(src="https://kit.fontawesome.com/0b79355df0.js" crossorigin="anonymous")
        script(src="./js/main.js")             