include ./blocks/header/_header.pug
include ./blocks/nav/_nav.pug
include ./blocks/resume/_resume.pug
include ./blocks/skills/_skills.pug
include ./blocks/history/_history.pug
include ./blocks/contact/_contact.pug
include ./blocks/works/_works.pug









<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Ivannikova__CV
        link(rel="apple-touch-icon" sizes="180x180" href="./img/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="./img/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="./img/favicon-16x16.png")
        link(rel="manifest" href="./img/site.webmanifest")
        link(rel="stylesheet", href="./css/slick.css")
        link(rel="stylesheet", href="./css/slick-theme.css")
        link(rel="stylesheet", href="./css/style.css")
    body
        +header
        +resume
        +contact
        +works
        
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="./js/slick.js")
        script(src="./js/main.js")             